@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif);

html {
    margin: 0;
    font: 300 .9em/1.6em "Droid Serif", "Open Sans", Cambria, Georgia, "DejaVu Serif", serif;
    text-align: justify;
}

#logo {
    position: absolute;
    bottom: 12px;
    right: 20px;
    z-index: -1000px;
}

#buttons {
    position:absolute;
    top:10pt;
    left:10pt;
    text-align: left;
}

#translate {
    display:none;
}

li {
    text-align: justify;
    margin-bottom: 5px;
}


body {
    padding: 20px;
    margin-left: 50px;
    margin-right: 30px;
}

td {
    margin: 0px;
    padding: 2pt;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#content {
    font-size: 16pt;
    margin-left: 150px;
    line-height: 24pt;
}

h1.title {
    display: none;
}

h3 {
    display: inline;
}

.outline-2 {
    max-width: 600pt;
    font-size: 12pt;
    line-height: 16pt;
    margin-top: 40px;
    margin-left: -150px;
}

*.outline-2 img {
    box-shadow: 5px 5px 5px #aaa;
    margin-left: 50px;
}

*.outline-2 p {
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.outline-3 {
    /* width:90%; */
    margin-top: 10pt;
    background-color:white;
    box-shadow: 0px 0px 0px white;
}

*.outline-3 p {
    margin-bottom: 8pt;
    margin-top: 8pt;
}


code {
    font-family: "Droid Sans Mono";
    font-size: 90%;
    background-color: #fff;
    padding: 1pt;
    margin-right: 1pt;
    border: 1px solid #eee;
}

pre {
    font-size: 90%;
    font-family: "Droid Sans Mono";
    background-color: #eeeeee;
    padding: 3pt;
    box-shadow: 3px 3px 3px #aaa;
}

#orgquote {
    z-index: 1000;
    position: fixed;
    margin: 0;
    bottom: 0;
    right: 0;
    font-size:90%;
    padding: 20px;
    background-color: #eee;
    -moz-opacity:0;
    opacity:0;
    filter:alpha(opacity=0);
}

#orgquote:hover {
    -moz-opacity:1;
    opacity:1;
    filter:alpha(opacity=100);
}


#table-of-contents {
    font-size: 9pt;
    position: fixed;
    right: 0em;
    top: 0em;
    background: white;
    -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    text-align: right;
    max-height: 80%;
    overflow: auto;
    z-index: 200;
}

#table-of-contents h2 {
    font-size: 11pt;
    font-weight: 600;
    padding: 5pt;
    padding-top: 5pt;
    margin-top: 0;
    margin-bottom: 0pt;
    line-height: 12pt;
}

#table-of-contents ul {
    margin-left: 14pt;
    margin-bottom: 10pt;
    padding: 0
}

#table-of-contents li {
    padding: 0;
    margin: 1px;
    list-style: none;
    line-height: 12pt;
}

#table-of-contents ul>:first-child {
    color: blue;
}

#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}

#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em;
}

@media screen
{
    #table-of-contents {
	float: right;
	border: 1px solid #CCC;
	max-width: 50%;
	overflow: auto;
    }
} /* END OF @media screen */
