html {
    margin: 0;
}

body {
    padding: 20px;
    margin-left: 50px;
    margin-right: 30px;
}

#content {
    font-size: 14pt;
}

h1.title {
    display: none;
}

/* h2 { */
/*     display: none; */
/* } */

.outline-2 {
    font-size: 12pt;
    margin-top: 70px;
    min-height: 800px;
}

img {    
    box-shadow: 5px 5px 5px #aaa;
    margin-top: -35px;
}

iframe {
    position: relative;
}

/* #postamble { */
/*     clear: both; */
/*     background: #cc9; */
/* } */
