@import url(https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif);
html {
  margin: 0;
  font: 400 .9em/1.6em "Droid Serif", "Open Sans", Cambria, Georgia, "DejaVu Serif", serif; }

#searchgmane {
  margin-left: 10pt; }

#logo {
  position: absolute;
  top: 12px;
  left: 20px; }

#buttons {
  display: block;
  font-size: 1.2em;
  position: absolute;
  top: 20pt;
  right: 10pt;
  text-align: right;
  padding: .2em 1em;
  background: #EEE;
  border-radius: 10px; }

a {
  text-decoration: none;
  /* color: #1c3030; */
  /* #0066CC; */
  color: #537d7b; }

a:visited {
  text-decoration: none;
  /* color: #5e251e; */
  /* #FF0000; */
  /* color: #98855b */ }

a:hover {
  text-decoration: underline;
  color: #3d696a;
  /* #0066CC; */
  /* color: #a34d32; */
  /* #923a2e */
  /* #5e251e */
  /* #461c16 */
  /* #3d696a */
  /* #1c3030 */ }

#content {
  font-size: 1.2em;
  margin-left: 130px;
  line-height: 2em; }

#content p {
  padding-right: 7pt; }

h1.title {
  display: none; }

h3 {
  display: none; }

.outline-3 {
  background-color: #eaeaea;
  border-left: 4px solid var(--dark-green);
  padding: 5pt;
  width: 27em;
  max-width: 80%;
  font-size: 85%;
  margin-top: 20pt; }

.outline-3 p {
  margin: 3pt;
  padding: 0; }

h2 {
  display: block;
  padding-top: 30px;
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 30pt;
  line-height: 1.1; }

.outline-2 {
  font-size: 1em;
  line-height: 1.3em;
  margin-top: 40px;
  margin-left: -130px; }

*.outline-2 img {
  box-shadow: 5px 5px 5px #aaa;
  /* margin-top: -35px; */
  margin-left: 50px; }

.iframe {
  float: right; }

*.outline-2 p {
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px; }

code {
  font-family: "Droid Sans Mono";
  background-color: #eeeeee;
  padding: 2pt;
  margin-right: 1pt;
  box-shadow: 1px 1px 1px #aaa; }

pre {
  font-family: "Droid Sans Mono";
  font-size: .8em;
  font-weight: normal;
  line-height: 1.4em;
  background-color: #eeeeee;
  padding: 2pt;
  margin-right: 1pt;
  box-shadow: 1px 1px 1px #aaa; }

#orgquote {
  z-index: 1000;
  position: fixed;
  margin: 0;
  bottom: 0;
  right: 0;
  font-size: 100%;
  padding: 20px;
  background-color: #eee;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0); }

#orgquote:hover {
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100); }

.move {
  font-weight: 800;
  color: var(--dark-green);
  position: relative; }
  .move a {
    color: inherit;
    text-transform: capitalize; }
    .move a:hover {
      opacity: 0.9;
      text-decoration: none; }

.outline-text-2 > .move {
  top: -30px; }

div.side-fig {
  max-width: 1600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  position: relative;
  padding-top: 4rem; }
  @media (max-width: 1510px) {
    div.side-fig {
      justify-content: center; } }
  div.side-fig h2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center; }
    div.side-fig h2:target {
      top: calc(-10px - 2rem); }
  div.side-fig > div.outline-text-2 > figure {
    max-width: 700px; }
    @media (min-width: 850px) {
      div.side-fig > div.outline-text-2 > figure {
        max-width: min(700px, 50vw); } }
    div.side-fig > div.outline-text-2 > figure img {
      margin-left: 0;
      width: 100%; }
  div.side-fig > div.outline-text-2 .move {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    text-align: center; }
    @media (max-width: 1800px) {
      div.side-fig > div.outline-text-2 .move {
        display: none; } }
  div.side-fig > div.outline-3 {
    border: none;
    background-color: transparent;
    width: 600px;
    max-width: 100%; }
    div.side-fig > div.outline-3 > div.outline-4 {
      background-color: #eaeaea;
      border-left: 4px solid var(--dark-green);
      padding: 5px; }
      div.side-fig > div.outline-3 > div.outline-4 h4 {
        display: none; }

@media (max-width: 800px) {
  code {
    font-size: 85%; } }

@media (min-width: 800px) and (max-width: 900px) {
  code {
    font-size: 75%; } }

@media (min-width: 900px) {
  code {
    font-size: 85%; } }

/* new content */
:root {
  --sans: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  --body-left: 0px;
  --body-right: 0px;
  --body-padding: 10px;
  --green: #77aa99;
  --dark-green: #587e72; }
  @media (min-width: 850px) and (max-width: 1000px) {
    :root {
      --body-left: 25px;
      --body-right: 15px; } }
  @media (min-width: 1000px) {
    :root {
      --body-left: 50px;
      --body-right: 30px;
      --body-padding: 20px; } }
  @media (min-width: 1600px) {
    :root {
      --body-left: 80px;
      --body-right: 50px;
      --body-padding: 30px; } }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }
  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto; } }

body {
  margin-top: 2em;
  margin-left: var(--body-left);
  margin-right: var(--body-right);
  padding: var(--body-padding); }
  @media (max-width: 850px) {
    body {
      margin-top: 4em; } }

nav#main {
  background-color: var(--green);
  padding: 8px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.9em;
  font-family: var(--sans);
  /* fix the position for now - easy solution */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1; }
  nav#main a {
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
    color: #fff; }
    nav#main a:hover {
      color: #eee; }
  nav#main img {
    height: 2em;
    margin-bottom: -0.5em; }
    nav#main img + p {
      display: inline-block;
      font-weight: 700;
      margin: 0;
      color: #333; }
  nav#main #translate {
    position: relative;
    float: left;
    color: #5a8073;
    font-weight: bold; }
    nav#main #translate a {
      color: #5a8073;
      font-weight: bold;
      padding: 0px;
      margin: 0 -2px 0 -2px; }
      nav#main #translate a:hover {
        color: #ddd; }
  nav#main .view-source {
    position: relative;
    float: right;
    color: #466259;
    font-weight: bold;
    line-height: 1.8;
    padding: 0 4px 2px 4px;
    margin-right: 1em;
    border: none;
    background: #fff;
    border-radius: 2px; }
    nav#main .view-source:hover {
      background: #eee;
      color: #304840; }

nav + div.banner.large {
  margin-top: calc(0.9rem + 8px - var(--body-padding)); }

div.banner {
  margin-left: calc(-130px - var(--body-left) - var(--body-padding));
  width: 100vw;
  padding: 20px 5px 10px 5px;
  text-align: center;
  font-size: 1.2rem; }
  div.banner .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    div.banner .title img {
      height: 20rem;
      margin-bottom: -0.5em; }
    div.banner .title h2 {
      color: #eee;
      font-family: var(--sans);
      font-size: 4em;
      text-align: left;
      line-height: 1.2;
      margin-left: 0.2em; }
      div.banner .title h2 p.subtitle {
        color: #222;
        font-size: 3rem;
        max-width: 15em;
        text-align: left; }
  div.banner p {
    max-width: 1000px;
    margin: auto;
    line-height: 1.4; }
  div.banner.large {
    padding: 50px 5px 80px 5px;
    background-color: var(--green); }
    @media (min-width: 800px) {
      div.banner.large {
        font-size: 2rem; } }
  div.banner.slim {
    padding: 5px;
    font-size: 1.2rem;
    font-family: var(--sans); }
  div.banner.inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    div.banner.inline p {
      display: inline-block;
      margin: 0.2em; }
  div.banner.green {
    background-color: var(--dark-green);
    color: #eee; }
    div.banner.green a {
      color: #fff;
      font-weight: bold; }
  div.banner p.small {
    font-size: 0.7em; }

img.inline {
  height: 1em;
  margin-bottom: -0.2em; }

#a-quote {
  font-style: italic;
  opacity: 0.7; }

h2[id]:target {
  padding-top: calc(40px + 2rem); }

.date {
  font-family: var(--sans);
  color: var(--dark-green); }
