@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Droid Serif Regular'), local('DroidSerif-Regular'), url(/fonts/droid-serif.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url(/fonts/droid-serif-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Mono Regular'), local('DroidSansMono-Regular'), url(/fonts/droid-sans-mono.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Regular'), local('DroidSans-Regular'), url(/fonts/droid-sans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    margin: 0;
    font: 400 .9em/1.6em "Droid Serif", "Open Sans", Cambria, Georgia, "DejaVu Serif", serif;
}

#searchgmane {
    margin-left: 10pt;
}

#logo {
    position: absolute;
    top: 12px;
    left: 20px;
}

#buttons {
    display:block;
    font-size: 1.2em;
    position:absolute;
    top:20pt;
    right:10pt;
    text-align: right;
    padding: .2em 1em;
    background: #EEE;
    border-radius: 10px;
}

a {
    text-decoration: none;
    /* color: #1c3030; */
    /* #0066CC; */
    color: #537d7b;
}
a:visited {
    text-decoration: none;
    /* color: #5e251e; */
    /* #FF0000; */
    /* color: #98855b */
}
a:hover {
    text-decoration: underline;
    color: #3d696a;
    /* #0066CC; */
    /* color: #a34d32; */
    /* #923a2e */
    /* #5e251e */
    /* #461c16 */
    /* #3d696a */
    /* #1c3030 */
}

#content {
    font-size: 1.2em;
    margin-left: 130px;
    line-height: 2em;
}

#content p {
    padding-right: 7pt;
}

h1.title {
    display: none;
}

h3 {
    display: none;
}

.outline-3 {
    background-color: #eaeaea;
    border-left: 4px solid var(--dark-green);
    padding: 5pt;
    width: 27em;
    max-width: 80%;
    font-size: 85%;
    margin-top: 20pt;
}

.outline-3 p {
    margin:3pt; 
    padding:0;
}

h2 {
    display: block;
    padding-top: 30px;
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 30pt;
    line-height: 1.1;
}

.outline-2 {
    font-size: 1em;
    line-height: 1.3em;
    margin-top: 40px;
    margin-left: -130px;
}

*.outline-2 img {
    box-shadow: 5px 5px 5px #aaa;
    /* margin-top: -35px; */
    margin-left: 50px;
    max-width: 80%;
}

.iframe {
    float: right;
}

*.outline-2 p {
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

code {
    font-family: "Droid Sans Mono";
    background-color: #eeeeee;
    padding: 2pt;
    margin-right: 1pt;
    box-shadow: 1px 1px 1px #aaa;
}

pre {
    font-family: "Droid Sans Mono";
    font-size: .8em;
    font-weight: normal;
    line-height: 1.4em;
    background-color: #eeeeee;
    padding: 2pt;
    margin-right: 1pt;
    box-shadow: 1px 1px 1px #aaa;
}

#orgquote {
    z-index: 1000;
    position: fixed;
    margin: 0;
    bottom: 0;
    right: 0;
    font-size:100%;
    padding: 20px;
    background-color: #eee;
    -moz-opacity:0;
    opacity:0;
    filter:alpha(opacity=0);
}

#orgquote:hover {
    -moz-opacity:1;
    opacity:1;
    filter:alpha(opacity=100);
}

.move { 
    font-weight: 800;
    color: var(--dark-green);
    position: relative;
    a {
        color: inherit;
        text-transform: capitalize;
        &:hover {
            opacity: 0.9;
            text-decoration: none;
        }
    }
}
.outline-text-2 > .move {
    top: -30px;
}


div.side-fig {
    max-width: 1600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    padding-top: 4rem;
    h2 {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        text-align: center;
        &:target {
            top: calc(-10px - 2rem); // to account for added padding
        }
    }
    > div.outline-text-2 { // figure & move
        > figure {
            width: #{"min(700px, 100vw)"};
            margin: 10px 0;
            @media(min-width:850px) {
                width: #{"min(700px, 50vw)"};
            }
            img {
                width: 100%;
                max-height: 500px;
                object-fit: contain;
                object-position: right center;
            }
        }
        .move {
            position: absolute;
            top: 5rem;
            left: 0;
            width: 100%;
            text-align: center;
            @media(max-width:1800px) {
                display: none;
            }
        }
    }
    > div.outline-3 { // description
        border: none;
        background-color: transparent;
        width: 600px;
        max-width: 100%;
        > div.outline-4 { // more
            background-color: #eaeaea;
            border-left: 4px solid var(--dark-green);
            padding: 5px;
            h4 {
                display: none;
            }
        }
    }
}

code{
    @media(max-width:800px){
        font-size: 85%;
    }
    @media(min-width:800px) and (max-width:900px){
        font-size: 75%;
    }
    @media(min-width:900px){
        font-size: 85%;
    }
}

/* new content */

:root {
    --sans: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
    // body margins and padding
    --body-left: 0px;
    --body-right: 0px;
    --body-padding: 10px;
    --green: #77aa99;
    --dark-green: #587e72;
    @media(min-width:850px) and (max-width:1000px){
        --body-left: 25px;
        --body-right: 15px;
    }
    @media(min-width:1000px){
        --body-left: 50px;
        --body-right: 30px;
        --body-padding: 20px;
    }
    @media(min-width:1600px){
        --body-left: 80px;
        --body-right: 50px;
        --body-padding: 30px;
    }
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    @media screen and (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }
}

body {
    margin-top: 2em;
    margin-left: var(--body-left);
    margin-right: var(--body-right);
    padding: var(--body-padding);
}

nav#main {
    background-color: var(--green);
    padding: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    font-family: var(--sans);
    /* fix the position for now - easy solution */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    a {
        padding: 0 10px;
        text-decoration: none;
        font-weight: 500;
        color: #fff;
        &:hover {
            color: #eee;
        }
    }
    p {
        img {
            height: 2em;
            margin-bottom: -0.5em;
        }
        display: inline-block;
        font-weight: 700;
        margin: 0;
        color: #333;
    }
    #translate {
        position: absolute;
        left: 1em;
        color: #5a8073;
        font-weight: bold;
        a {
            color: #5a8073;
            font-weight: bold;
            padding: 0px;
            margin: 0 -2px 0 -2px;
            &:hover {
                color: #ddd;
            }
        }
    }
    .view-source {
        position: absolute;
        right: 1em;
        align-self: center;
        color: #466259;
        font-weight: bold;
        line-height: 1.8;
        padding: 0 4px 2px 4px;
        border: none;
        background: #fff;
        border-radius: 2px;
        &:hover {
            background: #eee;
            color: #304840;
        }
    }
    label, input {
        display: none;
    }
    @media(max-width:850px) {
        flex-direction: column;
        label {
            display: block;
            font-weight: 700;
            color: #fff;
            line-height: 1;
            font-size: 1.6em;
            margin-bottom: -1.15em;
        }
        p {
            align-self: center;
            margin-bottom: -0.4em;
        }
        a,#translate {
            display: none;
            align-self: center;
        }
        #translate {
            left: 0;
            right: 0;
            bottom: 0;
            height: 2.2em;
            line-height: 2.1;
            text-align: right;
            padding-right: 1em;
            background-color: #fff4;
        }
        a.view-source {
            position: initial;
            right: unset;
            align-self: baseline;
            background-color: transparent;
            position: relative;
            top: 0.35em;
            font-style: 0.7em;
            margin-left: 10pt;
            &::after {
                content: ' view source';
                font-weight: 400;
            }
        }
        input:checked {
            ~ a, ~ #translate {
                display: block;
            }
            ~ #translate a {
                display: inline-block;
            }
        }
    }
}

nav + div.banner.large {
    margin-top: calc(-1rem - var(--body-padding));
}

div.banner {
    margin-left: calc(-130px - var(--body-left) - var(--body-padding));
    // width: calc(100vw - 10px);
    width: 100vw;
    padding: 20px 5px 10px 5px;
    text-align: center;
    font-size: 1.2rem;
    .title {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img {
            height: 20rem;
            margin-bottom: -0.5em;
        }
        h2 {
            color: #eee;
            font-family: var(--sans);
            font-size: 4em;
            text-align: left;
            line-height: 1.2;
            margin-left: 0.2em;
            p.subtitle {
                color: #222;
                font-size: 3rem;
                max-width: 15em;
                text-align: left;
            }
        }
    }
    p {
        max-width: 1000px;
        margin: auto;
        line-height: 1.4;
    }
    &.large {
        padding: 50px 5px 80px 5px;
        background-color: var(--green);
        @media(min-width:800px) {
            font-size: 2rem;
        }
    }
    &.slim {
        padding: 5px;
        font-size: 1.2rem;
        font-family: var(--sans);
    }
    &.inline {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        p {
            display: inline-block;
            margin: 0.2em;
        }
    }
    &.green {
        background-color: var(--dark-green);
        color: #eee;
        a {
            color: #fff;
            font-weight: bold;
        }
    }
    p.small {
        font-size: 0.7em;
    }
}

img.inline {
    height: 1em;
    margin-bottom: -0.2em;
}


#a-quote {
    font-style: italic;
    opacity: 0.7;
}

// to account for the navbar in scroll-to position
h2[id]:target {
    padding-top: calc(40px + 2rem); 
}

.date {
    font-family: var(--sans);
    color: var(--dark-green);
}
