html {
    padding: 0;
    margin: 0;
}

body {
    margin: 100px 50px 100px 50px;
}

h1.title {
    display: none;
}

h2 {
    display: none;
}

#outline-container-1 { 
    float: left; 
}

#outline-container-2 {
    float: right;
}
