@import url(https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif);

html {
    margin: 0;
    font: 300 .9em/1.6em "Droid Serif", "Open Sans", Cambria, Georgia, "DejaVu Serif", serif;
}

#top {
    margin-top: 0pt;
    padding-right: 10em;
    font-size: 1.4em;
}

#top2 {
    font-size:70%;
}

#searchgmane {
    margin-left: 10pt;
}

#logo {
    position: absolute;
    top: 12px;
    left: 20px;
}

#buttons {
    display:block;
    font-size: 1.2em;
    position:absolute;
    top:20pt;
    right:10pt;
    text-align: right;
    padding: .2em 1em;
    background: #EEE;
    border-radius: 10px;
}

a {
    text-decoration: none;
    /* color: #1c3030; */
    /* #0066CC; */
    /* color: #537d7b */
}
a:visited {
    text-decoration: none;
    /* color: #5e251e; */
    /* #FF0000; */
    /* color: #98855b */
}
a:hover {
    text-decoration: underline;
    /* color: #3d696a; */
    /* #0066CC; */
    /* color: #a34d32; */
    /* #923a2e */
    /* #5e251e */
    /* #461c16 */
    /* #3d696a */
    /* #1c3030 */
}

#content {
    font-size: 1.2em;
    margin-left: 130px;
    line-height: 2em;
}

#content p {
    padding-right: 7pt;
}

h1.title {
    display: none;
}

h3 {
    display: none;
}

.outline-3 {
    background-color: #eee;
    color: black;
    box-shadow: 1px 1px 1px #aaa;
    padding: 5pt;
    width: 27em;
    font-size: 85%;
    margin-top: 20pt;
}

.outline-3 p {
    margin:3pt; 
    padding:0;
}

h2 {
    display: block;
    padding-top: 30px;
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 30pt;
}

.outline-2 {
    font-size: 1em;
    line-height: 1.3em;
    margin-top: 40px;
    margin-left: -130px;
    min-height: 600pt;
}

*.outline-2 img {
    box-shadow: 5px 5px 5px #aaa;
    /* margin-top: -35px; */
    margin-left: 50px;
}

.iframe {
    float: right;
}

*.outline-2 p {
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

code {
    font-family: "Droid Sans Mono";
    background-color: #eeeeee;
    padding: 2pt;
    margin-right: 1pt;
    box-shadow: 1px 1px 1px #aaa;
}

pre {
    font-family: "Droid Sans Mono";
    font-size: .8em;
    font-weight: normal;
    line-height: 1.4em;
    background-color: #eeeeee;
    padding: 2pt;
    margin-right: 1pt;
    box-shadow: 1px 1px 1px #aaa;
}

#orgquote {
    z-index: 1000;
    position: fixed;
    margin: 0;
    bottom: 0;
    right: 0;
    font-size:100%;
    padding: 20px;
    background-color: #eee;
    -moz-opacity:0;
    opacity:0;
    filter:alpha(opacity=0);
}

#orgquote:hover {
    -moz-opacity:1;
    opacity:1;
    filter:alpha(opacity=100);
}

.move { 
    float: left;
    font-weight: 800;
    font-size: 1.3em;
    color: #ccc;
    letter-spacing: 1.4pt;
    background-color: white;
    box-shadow: 0px 0px 0px white;
}

.move a {
    color: #ccc;
}

.move a:hover {
    color: grey;
    text-decoration: none;
}

@media(min-width:1000px){
    #screenshot {
        float: right;
        width: 500px;
    }
    #main-image {
        float: right;
        width: 500px;
    }
}

@media(min-width:800px) and (max-width:1000px){
    #screenshot {
        float: right;
        width: 450px;
    }
    #main-image {
        float: right;
        width: 450px;
    }
}

@media(max-width:800px){
    #screenshot {
        display: none;
    }
    #main-image {
        display: none;
    }
}

code{
    @media(max-width:800px){
        font-size: 85%;
    }
    @media(min-width:800px) and (max-width:900px){
        font-size: 75%;
    }
    @media(min-width:900px){
        font-size: 85%;
    }
}

/* new content */

:root {
    --sans: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
    // body margins and padding
    --body-left: 0px;
    --body-right: 0px;
    --body-padding: 5px;
    @media(min-width:850px) and (max-width:1000px){
        --body-left: 25px;
        --body-right: 15px;
        --body-padding: 10px;
    }
    @media(min-width:1000px){
        --body-left: 50px;
        --body-right: 30px;
        --body-padding: 20px;
    }
    @media(min-width:1600px){
        --body-left: 80px;
        --body-right: 50px;
        --body-padding: 30px;
    }
}

body {
    margin-top: 2em;
    margin-left: var(--body-left);
    margin-right: var(--body-right);
    padding: var(--body-padding);
}

nav#main {
    background-color: #77aa99;
    border-bottom: 1px solid #587e71;
    padding: 8px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.9em;
    font-family: var(--sans);
    /* fix the position for now - easy solution */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    a {
        padding: 10px;
        text-decoration: none;
        font-weight: 500;
        color: #fff;
        
    }
    img {
        height: 2em;
        margin-bottom: -0.5em;
        + p {
            display: inline-block;
            font-weight: 700;
            margin: 0;
            color: #333;
        }
    }
    #translate {
        position: relative;
        float: left;
        color: #5a8073;
        a {
            padding: 0px;
        }
    }
    .view-source {
        position: relative;
        float: right;
        color: #444;
        font-weight: bold;
        padding: 0;
        margin-right: 1em;
        border: none;
        background: none;
        &:hover {
            color: #111;
        }
    }
}
