#postamble {
    text-align: center;
    background: darken($background, 6.2);
    color: wcag-color(#888, darken($background, 6.2), 'AAA');
    font-family: var(--sans);
    font-family: var(--sans);
    padding: 0.4rem 0;
    margin: 5rem calc(0px - var(--body-right) - var(--body-padding)) 0 calc(0px - var(--body-left) - var(--body-padding));
    p {
        display: inline;
        margin: 0;
        a:hover {
            text-decoration: none;
        }
        &:not(:first-child) {
            margin-left: 1rem;
        }
    }
}
