button.btn, a.btn {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 3px;
    margin: 5px 0px;
    color: $background;
    background-color: $primary;
    &:hover {
        text-decoration: none;
        color: $background;
        background-color: $secondary;
    }
}

a {
    text-decoration: none;
    color: $secondary;
}
a:visited {
    text-decoration: none;
}
a:not(.btn):hover {
    text-decoration: underline;
    filter: brightness(85%);
}
a:not(.btn)[href^="https://orgmode.org"], a:not(.btn):not([href^="https://"]):not([href^="http://"]) {
    &:hover {
        text-decoration: underline dashed;
    }
}
