@import 'variables';
@import 'color-contrast';

$demo_bg: mix($background, $text, 95%);

$demo_primary: wcag-color($primary, $demo_bg, $bold: true);
$demo_secondary: wcag-color($secondary, $demo_bg, $bold: true);
$demo_blue: wcag-color(mix($blue, $background, 80%), $demo_bg);
$demo_purple: wcag-color($purple, $demo_bg);
$demo_green: wcag-color($green, $demo_bg);

#org-demo {
    background: $demo_bg;
    padding: 0.5rem 1rem;
    // box-shadow:
    //     0 -1px 1px rgba(0,0,0,0.15),
    //     0 -10px 0 -5px $demo_bg,
    //     0 -10px 1px -4px rgba(0,0,0,0.15),
    //     0 -20px 0 -10px $demo_bg,
    //     0 -20px 1px -9px rgba(0,0,0,0.15);

    asside.left, asside.right {
        background-color: mix($primary,$background,20%);
        line-height: 1.4;
        border-radius: 3px;
        padding: 0 1rem 0.3em 1rem;
        h4 {
            margin: 0 -1rem 0.1em -1rem;
            padding: 0.2em 1rem;
            background-color: mix($primary,$background,40%);
        }
        @media (max-width:1000px) {
            display: block;
            font-size: 0.8em;
            font-style: italic;
            margin: 1em -1rem 1em -1rem;
        }
    }

    @media (min-width:1000px) {
        asside.left, asside.right {
            width: 35%;
        }
        asside.right {
            float: right;
            clear: right;
            margin-right: -40%;
        }
        asside.left {
            float: left;
            clear: left;
            margin-left: -40%;
        }
    }

    asside.label-left {
        float: left;
        transform: translateX(-100%);
        color: wcag-color($contrast, $background);
        margin-right: -100%;
        font-family: var(--sans);
        padding-right: 2rem;
    }
    @media (max-width:1000px) {
        margin-left: 2.2em;
        margin-top: 0;
        asside.label-left {
            text-orientation: sideways;
            writing-mode: sideways-lr;
        }
    }
    @media (min-width:1000px) and (max-width:1600px) {
        width: 60vw;
        max-width: 100%;
        margin-left: calc(42% - 25vw);
        asside.left, asside.right {
            max-width: 15vw; }
        asside.right {
            margin-right: calc(-18vw - 0.5em); }
        asside.left {
            margin-left: calc(-18vw - 0.5em); }
    }

    pre.label-left, details.label-left pre {
        box-shadow: -4px 0px 0px 0px $background,
                    -8px 0px 0px 0px $contrast;
        transform: translateX(-1rem);
        padding-left: 1rem;
        margin-right: -2rem;
    }

    pre {
        font-size: 1.2rem;
        border: none;
        background: none;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    pre.br {
        margin-top: 1em;
    }

    .org-document-title, .org-document-info {
        color: $demo_secondary; }
    .org-level-1 {
        color: $demo_primary; }
    .org-level-2 {
        color: wcag-color($contrast, $demo_bg, $bold: true); }
    .org-level-1, .org-level-2 {
        cursor: pointer; }
    .org-done, .org-special-keyword, .org-block-begin-line, .org-block-end-line {
        color: wcag-color(#62686e, $demo_bg); }
    .org-date {
        color: wcag-color($contrast, $demo_bg);
        &:hover {
            color: $demo_bg;
            background-color: $contrast;
        }
    }
    .org-todo-active, .org-table {
        color: $demo_purple; }
    .org-todo, .org-checkbox, .org-checkbox-statistics-todo {
        color: $demo_green;}
    .org-link {
        color: $demo_blue;
        text-decoration: underline;
        &:hover {
            color: $demo_bg;
            background-color: $demo_blue;
            cursor: pointer;
        }
        a {
            color: inherit;
        }
    }
    .org-list-dt {
        color: $demo_blue;
    }
    .org-document-title, .org-level-1, .org-level-2 {
        font-weight: bold; }

    > details, details.br {
        margin-top: 1em;
    }
    details:not([open]) pre {
        .org-level-1, .org-level-2 {
            &::after {
                content: "...";
            }
        }
    }
    summary {
        outline: none;
        list-style: none;
    }
    summary::marker, summary::-webkit-details-marker  {
        display: none;
    }

    details.replace[open] summary {
        opacity: 0;
        height: 0;
    }
}

.countme label .org-list-dt::after {
    color: $demo_green;
    content: ' [ ]'
}
.chk {
    position: absolute;
    left: -200vw;
    &:checked { counter-increment: chk 14; }
    &.extra:checked { counter-increment: chk 15; }
}
.count-res::after {
    content: '[' counter(chk) '%]';
    color: $demo_green;
}
@for $i from 1 through 7 {
    #chk#{$i}:checked ~ details > .countme label[for=chk#{$i}] {
        color: wcag-color(#62686e, $demo_bg);
        .org-list-dt::after {
            color: wcag-color(#62686e, $demo_bg);
            content: ' [X]';
        }
    }
}

